# Global patterns
*.exe
*.swp
.DS_Store
.vagrant/
nimcache/

# Full paths.
/.sybil_systems
/README.html
/docs/changes.html
/docs/release_steps.html
/footest.html
/gh_nimrod_doc_pages
/html_support
/inidata
/license.html
/nakefile
/sorting_lists
/vagrant_linux/*/bootstrap.sh
/vagrant_linux/readme.html
