# Global patterns
*.exe
*.swp
.DS_Store
nimcache/

# Full paths.
/README.html
/docs/changes.html
/docs/release_steps.html
/footest.html
/gh_nimrod_doc_pages
/html_support
/inidata
/license.html
/nakefile
/sorting_lists
